body {
  font-family: "Mulish SemiBold", sans-serif;
}

/**
 * --------------------------------------------------------------------
 * Mulish
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Mulish SemiBold";
  font-display: swap;
  src: local("Mulish SemiBold"), url("fonts/Mulish/Mulish-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mulish Light";
  font-display: swap;
  src: local("Mulish Light"), url("fonts/Mulish/Mulish-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mulish Bold";
  font-display: swap;
  src: local("Mulish Bold"), url("fonts/Mulish/Mulish-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mulish Regular";
  font-display: swap;
  src: local("Mulish Regular"), url("fonts/Mulish/Mulish-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Arial Regular";
  font-display: auto;
  src: local("Arial Regular"), url("fonts/Arial/arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Verdana Regular";
  font-display: auto;
  src: local("Verdana Regular"), url("fonts/Fonts/Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Bold";
  font-display: auto;
  src: local("Verdana Bold"), url("fonts/Fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Roboto Regular";
  font-display: auto;
  src: local("Roboto Regular"), url("fonts/Fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Black";
  font-display: auto;
  src: local("Roboto Black"), url("fonts/Fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold Italic";
  font-display: auto;
  src: local("Roboto Bold Italic"), url("fonts/Fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  font-display: auto;
  src: local("Roboto Bold"), url("fonts/Fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  font-display: auto;
  src: local("Roboto Medium"), url("fonts/Fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light Italic";
  font-display: auto;
  src: local("Roboto Light Italic"), url("fonts/Fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-24-xl {
    margin-left: -24px !important;
  }
  .uk-grid-24-xl > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-xl > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-24-l {
    margin-left: -24px !important;
  }
  .uk-grid-24-l > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-l > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-24-m {
    margin-left: -24px !important;
  }
  .uk-grid-24-m > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-m > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-24-s {
    margin-left: -24px !important;
  }
  .uk-grid-24-s > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-s > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

.uk-grid-24 {
  margin-left: -24px;
}
.uk-grid-24 > * {
  padding-left: 24px;
}
.uk-grid-24 > .uk-grid-margin {
  margin-top: 24px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-12 {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .fz-12 {
    font-size: calc(12px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-12 {
    font-size: 12px !important;
  }
}

.fz-14 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .fz-14 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14 {
    font-size: 14px !important;
  }
}

.fz-15 {
  font-size: 15px !important;
}
@media screen and (min-width: 640px) {
  .fz-15 {
    font-size: calc(15px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15 {
    font-size: 15px !important;
  }
}

.fz-16 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-16 {
    font-size: calc(16px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16 {
    font-size: 16px !important;
  }
}

.fz-20 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-20 {
    font-size: calc(16px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20 {
    font-size: 20px !important;
  }
}

.fz-30 {
  font-size: 21px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(21px + 9 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 30px !important;
  }
}

.fz-32 {
  font-size: 22.4px !important;
}
@media screen and (min-width: 640px) {
  .fz-32 {
    font-size: calc(22.4px + 9.6 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-32 {
    font-size: 32px !important;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__30:nth-child(n+2) {
  margin-top: 30px;
}
.item__24:nth-child(n+2) {
  margin-top: 24px;
}
.item__12:nth-child(n+2) {
  margin-top: 12px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}

.dangnhap__header {
  margin-bottom: 14px;
}
.dangnhap__header .uk-navbar-item {
  min-height: 74px;
}
.dangnhap__header .uk-logo img {
  height: 36px;
}
@media (min-width: 960px) {
  .dangnhap__header .uk-logo img {
    height: 42px;
  }
}
.dangnhap__content__item-68-54:nth-child(n+2) {
  margin-top: 54px;
}
@media (min-width: 960px) {
  .dangnhap__content__item-68-54:nth-child(n+2) {
    margin-top: 68px;
  }
}
.dangnhap__content__item-48-30:nth-child(n+2) {
  margin-top: 30px;
}
@media (min-width: 960px) {
  .dangnhap__content__item-48-30:nth-child(n+2) {
    margin-top: 48px;
  }
}
.dangnhap__content__item-64-30:nth-child(n+2) {
  margin-top: 30px;
}
@media (min-width: 960px) {
  .dangnhap__content__item-64-30:nth-child(n+2) {
    margin-top: 64px;
  }
}
.dangnhap__content__iconPass {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7616 10.7608L17.7617 10.7607L18.0536 10.9105C18.1489 10.715 18.1487 10.4844 18.0534 10.2888L18.0523 10.2866L18.05 10.2819L18.0423 10.2664C18.0358 10.2536 18.0267 10.2355 18.0149 10.2127C17.9914 10.1671 17.9572 10.1021 17.9125 10.0207C17.8233 9.85798 17.6919 9.62873 17.5196 9.35509C17.1758 8.80914 16.6648 8.07948 15.9954 7.34716C14.6689 5.89604 12.6404 4.3499 10.0001 4.3499C7.35975 4.3499 5.33118 5.89604 4.00476 7.34716C3.33537 8.07948 2.82432 8.80914 2.48054 9.35509C2.30823 9.62873 2.17684 9.85798 2.08759 10.0207C2.04293 10.1021 2.00875 10.1671 1.9852 10.2127C1.97342 10.2355 1.96429 10.2536 1.95783 10.2664L1.95015 10.2819L1.94781 10.2866L1.94702 10.2882C1.9469 10.2885 1.94648 10.2893 2.55209 10.5999L1.94648 10.2893C1.85117 10.4848 1.85117 10.715 1.94648 10.9105L1.94648 10.9105C1.94643 10.9103 1.94741 10.9098 2.02207 10.8716C2.09765 10.8329 2.24873 10.7555 2.55068 10.6006L1.94648 10.9105L1.94781 10.9132L1.95015 10.9179L1.95783 10.9334C1.96429 10.9462 1.97342 10.9643 1.9852 10.9871C2.00875 11.0327 2.04293 11.0977 2.08759 11.1791C2.17684 11.3418 2.30823 11.5711 2.48054 11.8447C2.82432 12.3907 3.33537 13.1203 4.00476 13.8526C5.33118 15.3038 7.35975 16.8499 10.0001 16.8499C12.6404 16.8499 14.6689 15.3038 15.9954 13.8526C16.6648 13.1203 17.1758 12.3907 17.5196 11.8447C17.6919 11.5711 17.8233 11.3418 17.9125 11.1791C17.9572 11.0977 17.9914 11.0327 18.0149 10.9871C18.0267 10.9643 18.0358 10.9462 18.0423 10.9334L18.05 10.9179L18.0523 10.9132L18.0531 10.9116C18.0532 10.9114 18.0535 10.9108 17.7616 10.7608ZM18.0534 10.2888C18.0535 10.289 18.0536 10.2892 17.7617 10.439L17.7615 10.4388L18.0534 10.2888ZM8.81944 10.5999C8.81944 9.83284 9.44127 9.21101 10.2083 9.21101C10.9754 9.21101 11.5972 9.83284 11.5972 10.5999C11.5972 11.367 10.9754 11.9888 10.2083 11.9888C9.44127 11.9888 8.81944 11.367 8.81944 10.5999ZM10.2083 7.82212C8.67421 7.82212 7.43056 9.06577 7.43056 10.5999C7.43056 12.134 8.67421 13.3777 10.2083 13.3777C11.7425 13.3777 12.9861 12.134 12.9861 10.5999C12.9861 9.06577 11.7425 7.82212 10.2083 7.82212Z' fill='%233C3C3C'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.dangnhap__content__iconPass svg {
  opacity: 0;
}
.dangnhap__content__input {
  height: 66px !important;
  border-color: #D9E1E2;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Mulish SemiBold", sans-serif;
  color: #3C3C3C;
}
@media (min-width: 960px) {
  .dangnhap__content__width {
    width: 410px;
  }
}
.dangnhap__content__btnSubmit {
  line-height: 50px;
  min-width: 300px;
  background: #1464F4;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Mulish Bold", sans-serif;
}
.dangnhap__content__btnSubmit--xacnhan {
  background: #8A8A8A;
}
.dangnhap__content__title {
  margin: 0;
  font-size: 24px;
  color: #3C3C3C;
  line-height: 1.25;
  font-family: "Mulish Light", sans-serif;
}
@media (min-width: 960px) {
  .dangnhap__content__title {
    font-size: 32px;
  }
}
.dangnhap__content__desc {
  font-size: 16px;
  font-family: "Mulish SemiBold", sans-serif;
  color: #3C3C3C;
  line-height: 1.5;
}
@media (max-width: 959.98px) {
  .dangnhap__content__desc {
    text-align: left;
  }
}
.dangnhap__content__txtLink {
  color: #1464F4;
  line-height: 1.5;
  font-family: "Mulish SemiBold", sans-serif;
  font-size: 14px;
}
.dangnhap__footer {
  background: #F0F3F3;
}
.dangnhap__footer__navItem {
  min-height: 42px;
}
@media (min-width: 960px) {
  .dangnhap__footer__navItem {
    min-height: 58px;
  }
}
@media (max-width: 959.98px) {
  .dangnhap__footer__navbarRight {
    margin-right: auto;
  }
}
.dangnhap__footer__txt {
  color: #3C3C3C;
  font-size: 12px;
  line-height: 1.5;
  font-family: "Mulish SemiBold", sans-serif;
}
@media (min-width: 960px) {
  .dangnhap__footer__txt {
    font-size: 14px;
  }
}

.xacthuc {
  padding-bottom: 28px;
}
.xacthuc__btnBack {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 1.25;
  font-family: "Mulish Bold", sans-serif;
  color: #1464F4;
  padding-left: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 18L9 12L15 6' stroke='%231464F4' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center left;
}
.xacthuc__box {
  background: #FFFFFF;
  /* Shadow 2 */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 8px 16px;
}
@media (min-width: 960px) {
  .xacthuc__box {
    padding: 12px 16px;
  }
}
.xacthuc__box__txt {
  color: #3C3C3C;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Mulish Regular", sans-serif;
  padding-left: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 18.8333C14.6024 18.8333 18.3334 15.1024 18.3334 10.5C18.3334 5.89763 14.6024 2.16667 10 2.16667C5.39765 2.16667 1.66669 5.89763 1.66669 10.5C1.66669 15.1024 5.39765 18.8333 10 18.8333Z' stroke='%23DC3545' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 7.16667V10.5' stroke='%23DC3545' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 13.8333H10.0083' stroke='%23DC3545' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center left;
}
.xacthuc__box__btn {
  background: #1464F4;
  border-radius: 3px;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-family: "Mulish Bold", sans-serif;
  line-height: 49px;
  padding: 0 16px;
}
@media (max-width: 959.98px) {
  .xacthuc__box__btn {
    line-height: 54px;
    width: 100%;
    font-size: 16px;
  }
}
.xacthuc__step__item {
  position: relative;
}
.xacthuc__step__item:before {
  position: absolute;
  right: 100%;
  top: 10px;
  content: "";
  display: flex;
  width: 100%;
  height: 2px;
  background: #3C3C3C;
  opacity: 0;
  transform-origin: 100% 0;
  transform: translate(50%, -50%);
}
.xacthuc__step__item:nth-child(n+2):before {
  opacity: 1 !important;
}
.xacthuc__step__box1 {
  position: relative;
  z-index: 10;
  font-size: 12px;
  font-family: "Mulish SemiBold", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xacthuc__step__box1.active {
  background-color: #3C3C3C;
  color: #3C3C3C;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.125 3.8125L5.59375 10.3438L2.625 7.375' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.xacthuc__step__box1.inprogress {
  background-color: #1464F4;
  color: #FFFFFF;
}
.xacthuc__step__txt {
  color: #3C3C3C;
  font-family: "Mulish SemiBold", sans-serif;
  line-height: 1.5;
  font-size: 12px;
}
@media (min-width: 960px) {
  .xacthuc__step__txt {
    font-size: 16px;
  }
}
.xacthuc__width {
  max-width: 851px;
}
.xacthuc__card {
  max-width: 851px;
  background: #F7F9F9;
  padding: 16px;
}
@media (min-width: 960px) {
  .xacthuc__card {
    padding: 30px 110px;
  }
}
.xacthuc__card__title {
  color: #3C3C3C;
  font-size: 16px;
  font-family: "Mulish SemiBold", sans-serif;
  line-height: 1.5;
}
.xacthuc__card__txt {
  color: #DC3545;
  font-size: 16px;
  font-family: "Mulish SemiBold", sans-serif;
  line-height: 1.5;
}
.xacthuc__process {
  background: #D9E1E2;
  height: 12px;
}
.xacthuc__process__bar {
  background: #DC3545;
}
.xacthuc__process__bar:after {
  content: attr(data-txt);
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  color: #3C3C3C;
  font-size: 12px;
  font-family: "Mulish SemiBold", sans-serif;
  line-height: 1.5;
  transform-origin: 100% 0;
  transform: translate(50%, 0%);
}

/*# sourceMappingURL=style.css.map */
