.baoloi{
  &__modal{
    &__dialog{
      width: 786px;
    }
    &__body{
      padding: 30px 16px;
      @include media-breakpoint-up('m'){
        padding: 30px;
      }
    }
    &__txt{
      color: #151515;
      font-size: 20px;
      font-family: $font-Mulish-Light;
      line-height: (25/20);
    }
  }
}
.loader{
  width: 32px;
  height: 32px;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33341 4.45335L10.6667 6.76202M16.0001 2.66669V5.33335V2.66669ZM22.6667 4.45335L21.3334 6.76202L22.6667 4.45335ZM27.5467 9.33335L25.2374 10.6667L27.5467 9.33335ZM29.3334 16H26.6667H29.3334ZM27.5467 22.6667L25.2374 21.3334L27.5467 22.6667ZM22.6667 27.5467L21.3334 25.2374L22.6667 27.5467ZM16.0001 29.3334V26.6667V29.3334ZM9.33341 27.5467L10.6667 25.2374L9.33341 27.5467ZM4.45341 22.6667L6.76208 21.3334L4.45341 22.6667ZM2.66675 16H5.33341H2.66675ZM4.45341 9.33335L6.76208 10.6667L4.45341 9.33335Z' stroke='url(%23paint0_linear_4_1917)' stroke-width='2.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_4_1917' x1='16.0001' y1='3.00006' x2='16.0001' y2='29.3334' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231464F0'/%3E%3Cstop offset='1' stop-color='%231464F0' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}